<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System.Text" #>
<#@ include file="Helpers.ttinclude" #>

using System;
using System.Runtime.CompilerServices;
using CommunityToolkit.HighPerformance;
using Arch.Core.Utils;

namespace Arch.Core;
public partial class World
{
    <#
    for (var index = 2; index <= Amount; index++)
    {
        var generics = AppendGenerics(index);
        var parameters = AppendGenericInDefaultParams(index);
        var inParameters = InsertGenericInParams(index);

        var oldValues = new StringBuilder();
        var newValues = new StringBuilder();
        var events = new StringBuilder();
        for (var i = 0; i < index; i++)
        {
            oldValues.AppendLine($"var oldT{i} = archetype.Get<T{i}>(ref slot);");
            newValues.AppendLine($"ref var newT{i} = ref archetype.Get<T{i}>(ref slot);");
            events.AppendLine($"OnComponentSet<T{i}>(entity, in oldT{i}, ref newT{i});");
        }
    #>

    public void Set<<#= generics #>>(Entity entity, <#= parameters #>)
    {
        ref var entitySlot = ref EntityInfo.GetEntityData(entity.Id);
        var slot = entitySlot.Slot;
        var archetype = entitySlot.Archetype;
        <#= Indent(oldValues, 8) #>
        archetype.Set<<#= generics #>>(ref slot,  <#= inParameters #>);
        <#= Indent(newValues, 8) #>

        <#= Indent(events, 8) #>
    }
    <#
    }
    #>
}

